
@model WebApplication2.Models.InventoryModel

@{
    ViewBag.Title = "Index";
}

<h2>Welcome to Inventory</h2>


<!DOCTYPE html>
<html>
<head>
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }

        th, td {
            padding: 5px;
        }

        th {
            text-align: left;
        }

        table#t01 tr:nth-child(even) {
            background-color: #eee;
        }

        table#t01 tr:nth-child(odd) {
            background-color: #fff;
        }

        table#t01 th {
            background-color: black;
            color: white;
        }
    </style>
</head>
<body>


    <a href="@Url.Action("AddCAtegory","Inventory")" class="elements"> Add Category </a> | <a href="@Url.Action("AddItems","Inventory")" class="elements"> Add Equpments </a>


    <table id="t01" style="width:100%">
        <tr>
            <th>ID</th>
            <th>Code</th>
            <th>Name</th>
            <th> Category </th>
            <th>           </th>
        </tr>


        @foreach (var List in ViewBag.MyList)
        { 

            <tr>

                <td>@List.ID</td>

                <td>@List.Code</td>

                <td>@List.Name</td>

                <td>@List.Category</td>

                


                <td><a href="/Inventory/equipment/@List.ID" class="elements"> View </a></td>

            </tr>

        }


    </table>


</body>
</html>