@model WebApplication2.Models.InventoryModel

@{
    ViewBag.Title = "AddItems";
}

@{
    List<SelectListItem> category = new List<SelectListItem>();
    foreach (var choice in ViewBag.MyCategoryList)
    {
        category.Add(new SelectListItem()
        { Value = choice, Text = choice });
    }
};

<h2>AddItems</h2>
<hr />

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="∼/Content/Styles.css" />
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary()

        <P>
            ID: @Model.ID
            @Html.HiddenFor(x => x.ID)
        </P>



        <p>

            Category:


            @Html.DropDownListFor(x => x.Category, category);

        </p>


        <p>Name: @Html.TextBoxFor(x => x.Name) </p>
        <p> CODE: @Html.TextBoxFor(x => x.Code)</p>
        <p>
            Descreption: @Html.TextBoxFor(x => x.Description)
        </p>

        <button type="submit" class="btn btn-success"> Add </button>
    }
</body>
</html>



















































